.quizPage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
    height: 100%;
}

.title {
    text-align: center;
}

.title p {
    color: #C4C8CC;
}

.basicList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.emojiLayout {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.emojiOption {
    display: flex;
    flex-direction: column;
    min-width: 4rem;
}

.emojiOption span {
    font-size: 2rem;
}

.bubbleContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow-x: scroll;
    justify-items: center;
    align-items: center;
    gap: 10px;
    height: 250px;
}


.bubbleContainer div:nth-child(odd) {
    animation: bubbleSlideDownMore 1.7s infinite alternate;
    animation-delay: 1s;
}

.bubbleContainer div:nth-child(2) {
    animation: bubbleSlideDown 1.7s infinite alternate;
    animation-delay: 1.5s;
}

.bubbleContainer div:nth-child(n+4) {
    margin-left: 12vw;
    margin-right: -15vw;
    animation: bubbleSlideUp 1.7s infinite alternate;
    animation-delay: 0.7s;
}

.backBtn {
    cursor: pointer;
    position: absolute;
    left: 0;
}

.backBtn:hover {
    stroke: var(--accent);
}

.progressContainer {
    position: relative;
}

@keyframes bubbleSlideDown {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(10px);
    }
}

@keyframes bubbleSlideUp {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes bubbleSlideDownMore {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(20px);
    }
}

@media screen and (min-width:650px) {
    .bubbleContainer div:nth-child(n+4) {
        margin-left: 6vw;
        margin-right: -6vw;
    }
  }
  