.inputContainer {
    background-color: var(--primary);
    padding: 21px 20px;
    border-radius: 15px;
    border: 2px solid transparent;
}

.inputContainer input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 17px;
    color: rgb(218, 216, 216);
}

.invalid {
    border-color: #D0006E;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input p {
    color: #D0006E;
    text-align: left;
}