.circularProgress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.progressRing {
  width: 300px;
  height: 300px;
}

.progressRingCircle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-linecap: round;
}

.progressText {
  font-size: 20px;
  fill: white;
}