.optionContainer {
    padding: 21px 20px;
    background-color: var(--primary);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.optionContainer:hover {
    background-color: white;
    color: var(--primary);
}

.bubble {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    justify-content: space-evenly;
    padding: 10px;
    border: 2px solid transparent;
}

.bubble p {
    font-size: x-small;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.selected {
    border: 2px solid var(--accent);
}

