.optionContainer {
    padding: 21px 20px;
    background-color: var(--primary);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border: 3px solid transparent;
}

.bubble {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    justify-content: space-evenly;
    padding: 10px;
    border: 2px solid transparent;
}

.bubble p {
    font-size: x-small;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.selected {
    border: 2px solid var(--accent);
}

input[type="checkbox"] {
    display: none;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox.checked {
    background-color: var(--accent);
}

.checkbox.checked::after {
    content: '✓';
    font-size: 14px; /* Adjust font size as needed */
    color: white; /* Adjust color as needed */
}

.optionContainer.checked {
    border-color: var(--accent);
    background-color: #E4229B33;
}