
.download {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.thankYou {
    font-family: "Lobster", sans-serif;
    font-size: 3rem;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.checkMark {
    max-width: 120px;
    align-self: center;
}

.actionBtn {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (hover:hover) and (pointer:fine) {
    .download:hover {
        color: var(--accent);
    }
}